.button {
  padding: 13px 26px;
  display: inline-block;
  color: #ffffff;
  background-color: $color-primary;
  border: none;
  font-family: $font-heading;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background: rgba(235, 235, 235, 0.3);
  }
}
