.card-row {
  padding: 15px 0 14px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 28px 37px 28px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 0 16px;
    align-items: center;
    grid-template-columns: 1fr 1fr 245px;
    column-gap: 38px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.card-row__heading {
  margin: 0;
  margin-bottom: 13px;
  font-family: $font-heading;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card-row__list {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 80px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 7px 0;
    align-self: end;
  }
}

.card-row__definition {
  margin: 0;

  & ~ & {
    justify-self: end;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.card-row__button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}
