.card {
  display: grid;
  padding: 22px 0;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "pic header"
        "pic list"
        "button button";
  }

  @media (min-width: $tablet-width) {
    padding: 8px 40px 40px;
    background-image: linear-gradient(to bottom, #ffffff 67px, #f2f2f2 67px);
    grid-template-rows: 200px auto;
    grid-template-areas:
          "pic"
          "header"
          "list"
          "button";
  }
}

.card__heading {
  margin: 0;
  margin-bottom: 18px;
  font-family: $font-heading;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  grid-area: header;

  @media (max-width: $mobile-width-only) {
    & br:nth-child(2) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px 0 11px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    & br:nth-child(1) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin-bottom: 17px;
  }
}

.card__picture, .card__pic {
  grid-area: pic;
  align-self: center;
  justify-self: center;
  width:auto;
}

.card__list {
  margin: 0;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  grid-area: list;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
    gap: 0;
  }
}

.card__title {
  @media (min-width: $tablet-width) {
    padding: 7px 0 8px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__definition {
  margin: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 7px 0 8px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__button {
  margin-top: 15px;
  grid-area: button;
  font-size: 16px;

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}
