.card {
  display: grid;
  padding: 19px 0 25px;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "pic header"
        "pic list"
        "button button";
  }

  @media (min-width: $tablet-width) {
    padding: 8px 36px 40px;
    background-image: linear-gradient(to bottom, #ffffff 80px, #f2f2f2 80px);
    grid-template-rows: 200px auto;
    grid-template-areas:
          "pic"
          "header"
          "list"
          "button";
  }
}

.card__heading {
  margin: 0;
  margin-bottom: 18px;
  font-family: $font-heading;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  grid-area: header;

  @media (max-width: $mobile-width-only) {
    & br:nth-child(2) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    & br:nth-child(1) {
      display: none;
    }
  }
}

.card__pic {
  grid-area: pic;
  align-self: center;
  justify-self: center;
}

.card__list {
  margin: 0;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  color: #444444;
  grid-area: list;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.card__title {
  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__definition {
  margin: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__button {
  text-align: center;
  grid-area: button;
  font-size: 16px;
}
