.card__heading {
  font-family: $font-heading;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.card__list {
  font-size: 12px;
  color: #444444;
}
