.catalog-additional {
  padding: 20px 0;
}

.catalog-additional__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.catalog-additional__heading {
  margin-bottom: 34px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  & span {
    position: relative;
    z-index: 1;
    padding: 23px;
    margin-left: -23px;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 16px;
    height: 2px;
    background-color: #68b768;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  list-style: none;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}
