.catalog {
@media (min-width: $tablet-width) {
  margin-top: -42px;
}

@media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.catalog__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.catalog__item {
  padding: 22px 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 70px 316px 60px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 52px 61px;
    margin-bottom: 0;
  }
}

.catalog__item:last-child {
  margin-bottom: 0;
}

.catalog__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-primary;
  }

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
  }

  &--slim::after {
    top: -2px;
    left: 8px;
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    top: 13px;
    left: -7px;
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 18px;

    &::before {
      left: 394px;
      top: 22px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 11px;
      left: 424px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 65px;
      left: 360px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    padding-left: 162px;
    min-height: 100px;

    &::before {
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -3px;
      left: 18px;
      width: 70px;
      height: 93px;
    }

    &--pro::after {
      top: 20px;
      left: -20px;
      width: 134px;
      height: 56px;
    }
  }
}

.catalog__text {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__link {
  display: grid;
  grid-template-columns: max-content 32px;
  gap: 17px;
  font-family: $font-heading;
  font-size: 16px;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    width: 24px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url("../img/arrow-right.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
  }

  &:hover {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
