.catalog-additional {
  position: relative;
  padding: 20px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 87px;
  }
}

.catalog-additional__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.catalog-additional__heading {
  margin: 0;
  margin-bottom: 34px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  & span {
    position: relative;
    z-index: 1;
    padding: 23px;
    margin-left: -23px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0 37px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -37px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #68b768;

    @media (min-width: $tablet-width) {
      top: 83px;
    }

    @media (min-width: $desktop-width) {
      top: 97px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1 / -1;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  list-style: none;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1 / 4;
  }
}
