.contacts {
  background-color: #ffffff;

  &:not(.contacts--main) {
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1220px;
    justify-content: center;
    height: 400px;
  }
}

.contacts__container {
  padding: 26px 0;
  margin: 0 auto;
  width: 280px;
  display: grid;
  grid-template-columns: 140px 140px;

  @media (min-width: $tablet-width) {
    width: 708px;
    grid-template-columns: 170px 170px;
    justify-content: space-between;
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin: 0;
    width: 565px;
    grid-template-columns: 170px 155px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    padding: 60px 80px;
    z-index: 1;
  }
}

.contacts__title {
  margin: 0;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  line-height: 20px;
  color: #444444;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__pic {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
