.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: #444444;

  &:hover .copyright__pic{
    color: #68b768;
  }

  &:active .copyright__pic{
    opacity: 0.6;
  }
}
