.example {
  padding: 20px;
  background-color: #EAEAEA;
}

.example__list {
  text-align: center;
}

.example__title {
  font-size: 12px;
}

.example__definition {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__spending {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
