.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__heading {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 26px;
}

.field-group__list {
  padding: 0;
  list-style: none;

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
