.field-group {
  padding: 0;
  border: none;

  &--target {
    padding: 20px;
    margin: 0 -21px 0;
    border: 1px solid #d9d9d9;
  }
}

.field-group__heading {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 26px;
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 13px;

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

