.field {
  position: relative;
  font-family: $font-heading;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 12px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    column-gap: 15px;
  }
}

.field__input {
  padding: 13px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #e6e6e6;

  .field--icon & {
    padding-right: 42px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  &:not(:placeholder-shown):invalid {
    outline: 2px solid #FF8282;
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 10px 18px;

    &--comment {
      padding: 14px 18px;
    }
  }
}

.field--no-label .field__input {
  grid-column: 1 / -1;
}

.field__icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 13px;

  @media (min-width: $tablet-width) {
    right: 14px;
  }

  .field__input:focus + & {
    color: #68b768;
  }

  .field__input:not(:placeholder-shown):invalid + & {
    color: #FF8282;
  }
}
