.form__container {
  @media (min-width: $tablet-width) {
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;

  & + & {
    margin-top: 25px;

    @media (min-width: $tablet-width) {
      margin-top: 74px;

      &--comment {
        margin-top: 64px;
      }
    }

    @media (min-width: $desktop-width) {
      &--target {
        margin-top: 0;
      }
    }
  }
}

.form__group--additional,
.form__group--comment,
.form__group--contacts {
  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__footer {
  margin: 34px 0 32px;

  @media (min-width: $tablet-width) {
    margin: 60px 0 72px;
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 63px;
  }

  @media (min-width: $desktop-width) {
    margin: 66px 0 82px;
    grid-column: 1 / -1;
    grid-template-columns: 568px 1fr;
    column-gap: 82px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  padding: 8px 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 14px 26px;
  }
}

.form__additional {
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: start;
    align-self: center;
  }
}
