.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;

  & img {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__title {
  justify-self: center;
}
