.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 61px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 71px 1fr;
  }

  & img {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  @media (min-width: $tablet-width) {
    width: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 71px;
  }
}

.logo__title {
  justify-self: center;
}
