.offer {
  padding: 40px;
  background-color: $color-primary;
  background-image: url("../img/background-offer.png");

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
