.page-main__heading {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  margin: 5px 0 19px;
  font-family: $font-heading;
  text-transform: uppercase;
}
