.page-footer {
  background-color: #f2f2f2;
}

.page-footer__container {
  padding: 40px 0 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 163px 1fr 163px;
    padding: 56px 0 58px;
    align-items: center;
  }
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}

.page-footer__social {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
