.process {
  padding: 20px 0 50px;

  @media (min-width: $desktop-width) {
    padding: 71px 0 20px;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    counter-reset: process;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.process__item {
  padding-left: 80px;
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $color-primary;
    margin-top: -2px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 150px;
    padding-right: 75px;
    counter-increment: process;
    margin-bottom: 94px;

    &::before {
      margin: 0;
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }

    &::after {
      content: counter(process);
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 120px;
      font-family: $font-heading;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.process__text {
  margin: 0;


}
