.process {
  padding: 45px 0 25px;

  @media (min-width: $desktop-width) {
    padding: 73px 0 20px;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 25px;
    counter-reset: process;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.process__item {
  padding-left: 80px;
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: -2px;
  }

  &--leaf {
    &::before {
      background-image: url("../img/icon_leaf.svg");
    }
  }

  &--tub {
    &::before {
      background-image: url("../img/icon_tub.svg");
    }
  }

  &--eat {
    &::before {
      background-image: url("../img/icon_eat.svg");
    }
  }

  &--alarm {
    &::before {
      background-image: url("../img/icon_alarm.svg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 145px;
    padding-right: 75px;
    counter-increment: process;
    margin-bottom: 75px;

    &::before {
      margin: 0;
      width: 80px;
      height: 80px;
      top: 32px;
      left: 0;
    }

    &::after {
      content: counter(process);
      position: absolute;
      z-index: -1;
      top: -8px;
      left: 115px;
      font-family: $font-heading;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.process__text {
  margin: 0;


}
