.promo {
  text-align: center;
  @media (max-width: 767px){
    padding: 27px 0 20px;
    color: #ffffff;
    background-color: #63a63b;
    background-image: url("../img/background-promo.jpg"), linear-gradient(#63a63b 0, #63a63b 303px, #ffffff 303px);
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-promo@2x.jpg"), linear-gradient(#63a63b 0, #63a63b 303px, #ffffff 303px);
      background-size: 320px auto, auto;
    }
  }

  @media (min-width: $tablet-width) {
    color: #000000;
    background-color: transparent;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -200px;
      left: 50%;
      bottom: 0;
      right: 0;
      z-index: -2;
      background-color: #63a63b;
      background-image: url("../img/background-promo-large.jpg");
      background-repeat: no-repeat;
      background-position: 0% 100%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-promo-large@2x.jpg");
        background-size: 1044px auto;
      }
    }
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 90px 526px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 695px 145px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 2px 0 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: $font-heading;
  text-transform: uppercase;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: -47px;
    left: 448px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 27px;
  }
}
