.show-more {
  padding: 20px;
}

.show-more__heading {
  font-family: $font-heading;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.show-more__text {
  font-size: 12px;
  color: #444444;
}
