.social__list {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 368px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
  }
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 11px;
}

.social__link {
  position: relative;
  display: block;
  padding:12px;
  height: 33px;
  width: 33px;
  color: #666666;

  &:hover .social__pic {
    color: #68B738;
  }

  &:active .social__pic {
    opacity: 0.6;
  }
}

.social__pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    .social__link--vkontakte & {
      width: 29px;
      height: 17px;
    }

    .social__link--instagram & {
      width: 23px;
      height: 23px;
    }

    .social__link--telegram & {
      width: 28px;
      height: 22px;
    }
  }
}
